/*{
  box-sizing:content-box;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    box-sizing: border-box;
    height: 100px;
    background: #ccffff;
    margin: 0px;
}

#main_logo{
    position: absolute;
    left: 10px;
    top: -20px;
    width: 300px;
    height: 300px;
    padding: 10px;
}

#main_text{
  position: absolute;
  left: 10px;
  top: 0px;
  width: 492px;
  height: 100px;
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
    margin: 0px;
    box-sizing: border-box;
}

.navbar b {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.main_content{
  box-sizing: border-box;
  background-color: #ffcccc;
  padding: 150px;
}

.form-group{
  width: auto;
}
.additional {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
    font-size: 20px;
    margin: 0px;
}

.textfields{
  width: auto;
  margin: auto;
}
.form{
  border: 2px solid #669900;
  padding: 30px;
  width: auto;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}
